.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: #001f3f; /* Dark blue */
  color: white; /* Make text white for better contrast */
  margin: 0;
  font-family: Arial, sans-serif;
}

img {
  width: 400px; /* Set logo width to 200px */
  align-self: center;
  margin: auto;
}